/* folder :: main-start */
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


@mixin disFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Basic. js */

.basic {
  width: 100vw;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
  &::before {
    content: "";
    width: 100vw;
    height: 500px;
    position: absolute;
    z-index: 1;
    background-color: black;
    opacity: 0.3;
  }
}

/* Logo.js */

.logo {
  width: 180px;
  height: 80px;
  position: absolute;
  left: 25px;
  top: 25px;
  background-image: url('../../../assets/logo.svg');
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  
}

/* Description.js */

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  color: white;
  z-index: 3;
  font-family: 'Nanum Gothic', sans-serif;
}

/* Function.js */

.func {
  width: 200px;
  height: 300px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  font-family: 'Nanum Myeongjo', serif;
}

.create {
  @include disFlex();
  width: 200px;
  height: 70px;
  margin-bottom: 40px;
  background-image: url(../../../assets/tape1.png);
  background-size: 110% auto;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 3;
  font-size: 12px;
}

.list {
  @include disFlex();
  width: 200px;
  height: 70px;
  background-size: 110% auto;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-image: url('../../../assets/tape2.png');
  z-index: 3;
  font-size: 12px;
}

/* Info.js */

.info {
  width: 100px;
  height: 30px;
  /* border: 1px solid black; */
  @include disFlex();
}

.infoBox {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

